.App {
  text-align: center;
  margin: auto;
  width: 700px;
  box-shadow:5px 5px 15px 5px lightgrey
}

.content {
  padding: 20px;
}

.post {
  color: rgb(80, 80, 80);
  text-align: left;
  background-color: rgb(246, 248, 250);
  border: 1px solid lightgray;
  margin: 5px;
  padding: 0px 10px 5px 10px;
}

.form {
  margin: 5px;
  padding: 0px 10px 5px 10px;
}

.comment {
  padding-left: 10px;
  width: 90%;
  border-top: 1px double gray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

